*{
	margin: 0px;
	padding: 0px;
}
header{
	width: 100%;
	float: left;
	background-color: #edeff1;
	padding: 50px 0px;
}
.two li{
	list-style: none;
	display: inline-block;
	padding: 0px 10px;
}
.two a{
	text-decoration: none;
	padding: 0px 25px;
	color: #31353e;
	font-family: 'Roboto Slab', serif;
	transition: 0.2s;
}
.two a:hover{
	background-color: #dd4b2b;
	color: white;
	border-radius: 10px;
}

/*--------------Banner Section------------------*/

.banner{
	width: 100%;
	float: left;
	background: url(../img/banner.jpg)no-repeat;
	background-size: cover;
	background-position: center top;
	padding-top: 480px;
	text-align: center;
}
.three{
	margin-bottom: 125px;
}
.seven{
	padding-top: 80px;
}
.cstm-btn{
	border: none;
	border-radius: 50px;
	padding: 5px 30px;
	color: #612316;
	font-family: 'Roboto Slab', serif;
	margin-bottom: 135px;
}

/*---------------News Section----------------*/

.news{
	width: 100%;
	float: left;
	background-color: #edeff1;
	text-align: center;
	padding-top: 80px;
}
.eight{
	margin-bottom: 85px;
}
.news h2{
	padding-top: 45px;
	font-family: 'Roboto Slab', serif;
}
.news p{
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
}
.news-btn{
	border: none;
	background-color: #ffffff;
	padding: 5px 30px;
	border-radius: 50px;
	font-family: 'Roboto Slab', serif;
	margin-top: 40px;
	margin-bottom: 100px;
}

/*---------------Newsletter-------------*/

.newsletter{
	width: 100%;
	float: left;
	background: url(../img/newslet.jpg)no-repeat;
	background-size: cover;
	background-position: center top;
	padding-top: 90px;
	text-align: center;
	position: relative;
	
}
.twelve h2{
	color: white;
	font-family: 'Roboto Slab', serif;	
}
.twelve p{
	color: white;
	font-family: 'Roboto Slab', serif;
	padding-top: 18px;
	margin: 0px 200px;	
}
input{
	background: transparent;
	border: 1px solid white;
	border-radius: 50px;
	padding: 10px 20px;
	width: 85%;
	margin-top: 45px;
	margin-bottom: 112px;
}
::placeholder{
	color: white;
	font-family: 'Roboto Slab', serif;
}
.let-btn{
	border: 1px solid #c8bdaf;
	padding: 10px 100px;
	border-radius: 50px;
	position: absolute;
	margin-top: -158px;
	margin-left: 41px;
	color: #612316;
}

/*------------Information--------------*/

.info{
	width: 100%;
	float: left;
	padding-top: 120px;
}
.thirteen h2{
	font-family: 'Roboto Slab', serif;
	padding-top: 30px;
}
.thirteen p{
	font-family: 'Roboto Slab', serif;
	padding-top: 30px;
	font-size: 15px;
}
.info-btn{
	background-color: #dd4b2b;
	color: white;
	border: none;
	padding: 5px 85px;
	border-radius: 50px;
	margin-top: 50px;
	font-family: 'Roboto Slab', serif;
}
.fourteen img{
	width: 800px;
}
.fifteen img{
	width: 800px;
	padding-top: 115px;
	padding-bottom: 90px;
}
.sixteen h2{
	font-family: 'Roboto Slab', serif;
	padding-top: 150px;
}
.sixteen p{
	font-family: 'Roboto Slab', serif;
	padding-top: 30px;
	font-size: 15px;
}
.info-btn-one{
	background-color: #4b4e73;
	color: white;
	border: none;
	padding: 5px 85px;
	border-radius: 50px;
	margin-top: 50px;
	font-family: 'Roboto Slab', serif;
}

/*---------------About Section--------------*/

.about{
	width: 100%;
	float: left;
	background-color: #d75d0e;
	padding: 100px 0px;
}
.seventeen{
	color: white;
	margin: 0px 110px;
	font-size: 15px;
	text-align: center;
}

/*--------------Footer---------------*/

footer{
	width: 100%;
	float: left;
	background: url(../img/newslet.jpg)no-repeat;
	background-size: cover;
	background-position: center top;
	padding-top: 100px;
	padding-bottom: 250px;
}
footer p{
	color: white;
	margin: 0px 240px;
	text-align: center;
}

/*------------------Media Query------------------*/

@media (min-width: 320px) and (max-width: 576px){
	
/*--------------------Header---------------------*/	

	.one img{
		margin: 0 auto;
		display: block;
	}
	.two button{
		margin: 0 auto;
	}
	nav{
		text-align: center;
	}

/*--------------------Banner----------------------*/
	
	.banner{
		padding-top: 50px;
	}
	.three{
		margin-bottom: 35px;
	}
	.four img{
		margin: 35px 0px;
	}
	.six img{
		margin-top: 35px;
	}
	.cstm-btn{
		margin-bottom: 50px;
	}

/*---------------News Section----------------*/

	.news{
		padding-top: 50px;
	}
	.eight{
		margin-bottom: 35px;
	}
	.news h2{
		padding-top: 35px;
	}
	.news-btn{
		margin-top: 20px;
		margin-bottom: 50px;
	}

/*-----------------Newsletter-------------------*/
	
	.newsletter{
		padding-top: 35px;
	}
	.twelve p{
		margin: 0px 0px;
	}
	.twelve input{
		width: 70%;
		margin-bottom: 30px;
	}
	.let-btn{
		padding: 10px 35px;
		margin-left: 55px;
		margin-top: -76px;
	}

/*-----------------Information-------------------*/

	.info{
		padding-top: 35px;
		text-align: center;
	}
	.fourteen img{
		padding-top: 35px;
	}
	.fifteen img{
		padding-top: 35px;
		padding-bottom: 0px;
	}
	.sixteen h2{
		padding-top: 35px;
	}
	.info-btn-one{
		margin-bottom: 35px;
	}

/*--------------About Section--------------*/

	.about{
		padding: 50px 0px;
	}

/*--------------Footer Section--------------*/

	footer{
		padding: 50px 0px;
	}
	footer p{
	
		margin: 0px 50px;
	}
}
